<div class="container">
	<a href="$webRootPath/controllers/index.py"><span class="icon-left-open"></span>Back home</a>
	<h1>Administration</h1>
	<h3>Your options are</h3>
	<a href="$webRootPath/controllers/admin/clear-cache.py">Clear database cache [CAN MAKE SITE UNUSABLE DUE TO TARTARUS BEING TOO SLOW]<span class="icon-right-open"></span></a><br>
	<a href="$webRootPath/controllers/admin/create.py">Reload static metadata<span class="icon-right-open"></span></a><br>
	<a href="$webRootPath/controllers/admin/add-match.py">Add a match to the database<span class="icon-right-open"></span></a><br>
</div>
