<div class="container">
	<p class="quote">
		<span class="quote-body">"A land rich with information."</span>
		<span class="quote-author">- Vel'Koz</span>
	</p>
	<p class="content">
		League Analyzer is a site that provides you with statistics on items
		and champions. This was originally for my school project and
		is written in Python CGI. <span class="joke">(oh god, please save me)</span>
	</p>
	<div class="row site-sections">
		<div class="six columns card">
			<a href="items/landing.py">
				<div class="subcontainer">
					<div class="title-box">
						<span class="card-title">Items</span>
					</div>
					<span class="card-arrow icon-right-open-big"></span>
					<div class="info-box">
						<ul>
							<li>Statistics</li>
							<li>Usage on champions</li>
							<li>Rankings</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
		<div class="six columns card">
			<a href="champions/landing.py">
				<div class="subcontainer">
					<div class="title-box">
						<span class="card-title">Champions</span>
					</div>
					<span class="card-arrow icon-right-open-big"></span>
					<div class="info-box">
						<ul>
							<li>Statistics</li>
							<li>Items</li>
							<li>Rankings</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
