<div class="container">
	<h1>Items</h1>
	<div class="row">
		<div class="twelve columns">
			<div class="search-area">
				<form action="$webRootPath/controllers/search.py" method="GET">
					<div class="row">
						<input class="nine columns" type="search" name="query" placeholder="Looking for a specific item?">
						<input class="three columns button" type="submit" value="Search">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<h2>Items people like buying</h2>
			<table class="buy-table">
			<thead><tr><th>Rank</th><th></th><th>Item</th><th>Buy Rate</th></tr></thead>
			<tbody>
				$unsafe_mostPopular
			</tbody>
			</table>
			<div class="more">
				<a href="$webRootPath/controllers/items/general.py?filter=mostpopular">
					View More<span class="icon-right-open"></span>
				</a>
			</div>
		</div>
		<div class="six columns">
			<h2>Items which carry</h2>
			<table>
			<thead><tr><th>Rank</th><th></th><th>Item</th><th>Wins</th><th>Winrate</th></tr></thead>
			<tbody>
				$unsafe_mostWins
			</tbody>
			</table>
			<div class="more">
				<a href="$webRootPath/controllers/items/general.py?filter=mostwins">
					View More<span class="icon-right-open"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<h2>Who buys that?</h2>
			<table class="buy-table">
			<thead><tr><th>Rank</th><th></th><th>Item</th><th>Buy Rate</th></tr></thead>
			<tbody>
				$unsafe_leastPopular
			</tbody>
			</table>
			<div class="more">
				<a href="$webRootPath/controllers/items/general.py?filter=leastpopular">
					View More<span class="icon-right-open"></span>
				</a>
			</div>
		</div>
		<div class="six columns">
			<h2>Items which throw the hardest</h2>
			<table>
			<thead><tr><th>Rank</th><th></th><th>Item</th><th>Wins</th><th>Winrate</th></tr></thead>
			<tbody>
				$unsafe_leastWins
			</tbody>
			</table>
			<div class="more">
				<a href="$webRootPath/controllers/items/general.py?filter=leastwins">
					View More<span class="icon-right-open"></span>
				</a>
			</div>
		</div>
	</div>
</div>
